#battleshipMainTable,
#battleshipOpponentTable {
  border: 1px soild black;
  border-collapse: collapse;
  margin: auto;
}
#battleshipMainTable th,
#battleshipMainTable td,
#battleshipOpponentTable th,
#battleshipOpponentTable td {
  border: 1px solid black;
  border-collapse: collapse;
  width: 30px;
  height: 30px;
}
.ships {
  width: 100%;
  /*margin-left: 20%;*/
  background-color: rgb(225, 225, 225);
  overflow: hidden;
}
.shipTable {
  border: 1px black solid;
  border-collapse: collapse;
  float: left;
}
.shipTable td {
  border: 1px black solid;
  border-collapse: collapse;
  width: 30px;
  height: 30px;
}
[class*="ship-"] {
  float: left;
  margin: 20px;
}
.ship-selected {
  transition: 0.3s ease-in-out;
  box-shadow: 5px 5px 5px 0px #505050, inset 4px 4px 15px 0px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.boat-cell {
  background-color: rgb(21, 189, 255);
}
.boat-cell-placed {
  background-color: rgba(21, 189, 255, 0.278);
}
.removeImg {
  float: right;
  margin-top: 2px;
  display: none;
}
.tablesDiv {
  width: 100%;
  position: relative;
}
#battleshipMainTable {
  margin-right: 20%;
}
#battleshipOpponentTable {
  margin-left: 20%;
}

@font-face {
  font-family: "ArchivoBlack-Regular";
  src: url("../fonts/ArchivoBlack-Regular.ttf");
}

#cover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #c2c1c180;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
#cover h1 {
  font-family: "ArchivoBlack-Regular";
  font-size: 40px;
  color: rgb(0, 94, 117);
}
.timerDiv {
  visibility: hidden;
  width: 100%;
}
.timerDiv h2,
.timerDiv h4 {
  font-family: "ArchivoBlack-Regular";
  width: 100%;
  text-align: center;
}
.green-span {
  color: green;
}
.orange-span {
  color: orange;
}
.red-span {
  color: red;
}
.div-tb1,
.div-tb2 {
  width: 50%;
  float: left;
}
.miss-cell {
  background-image: linear-gradient(
    45deg,
    #00e5ff 25%,
    #ffffff 25%,
    #ffffff 50%,
    #00e5ff 50%,
    #00e5ff 75%,
    #ffffff 75%,
    #ffffff 100%
  );
  background-size: 8.49px 8.49px;
}
.hit-cell {
  background-color: rgb(255, 209, 122);
  background-image: url("../img/hit-cell.png");
  background-size: contain;
}
@font-face {
  src: url("../fonts/DMSans-Regular.ttf");
  font-family: "DMSans-Regular";
}
.status-div-main {
  text-align: center;
}
.status-div-opponent {
  text-align: center;
}
.status-desc,
.status-span {
  font-size: 18px;
  font-family: "DMSans-Regular";
}
.status-span {
  margin-left: 25px;
  font-weight: bold;
  padding: 5px 20px 5px 20px;
  box-shadow: -5px 5px 13px 2px rgba(255, 65, 61, 0.6);
  border-radius: 20px;
}
.status-div-main .status-span:hover {
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .div-tb1,
  .div-tb2 {
    width: 100%;
  }
  .div-tb2 {
    float: left;
  }
  #battleshipOpponentTable,
  #battleshipMainTable {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .status-div-opponent {
    margin-top: 5%;
  }
  #cover h1{
    margin-left: 5%;
  }
  #cover img{
    margin-right: 5%;
  }
}
.end-div{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: white;
  width: 40%;
  height: 30%;
  z-index: 1000;
  font-family: "DMSans-Regular";
  text-align: center;
  -webkit-box-shadow: 0px 1px 15px 5px #CDE8FF; 
  box-shadow: 0px 1px 15px 5px #CDE8FF;
  padding-top: 20px;
}
.end-div h4 a{
  color: blue;
  text-decoration: none;
}
.end-div h4 a:hover{
  opacity: 0.6;
}